<ng-template #content let-modal>


  <ng-template #ordenclasica let-modal>
      <h4 class="modal-title" id="modal-basic-title">Ticket Nº </h4>
      <button type="button" class="close" aria-label="Close" (click)="modal.dismiss('Cross click')">
        <span aria-hidden="true">×</span>
      </button>

    <div class="container" style="margin: 1px;">
      Detalle
    </div>


    <!--
    <div class="modal-footer">
      <button type="button" class="btn btn-outline-dark" (click)="modal.close('Save click')">Ok</button>
    </div>
    -->
  </ng-template>
</ng-template>



