
<img src="/assets/logosrequeridos.png">

  <button id="login" style="display:block" onclick="validarSuperuser()" >LogIn Superuser</button>
  <button id="logout" style="display:none" onclick="logOut()">LogOut</button>

  <div class="card imagenFondo" id="first-card">

      <div id="profile-background">
        <img id="fotoFondo" [src]="datosPorfolio.imagenDeFondo">
        <input class="editBox" style="float:right" type="file" id="image-input-bckgrd" accept="image/jpeg, image/png, image/jpg" onselect="cambiarFoto(this.value,'fotoFondo')">
      </div>

      <div id="info">
        <img id="fotoPersonal" class="profile-image" [src]="datosPorfolio.imagenFoto">
        <input class="editBox" type="file" id="image-input-profile" accept="image/jpeg, image/png, image/jpg" onselect="cambiarFoto(this,'fotoPersonal')">
      </div>


      <div id="info-data">
          <div>
            <h1><span *ngIf="datosPorfolio">{{datosPorfolio.nombre}}</span></h1>

            <div id="info-company">{{datosPorfolio.puestoActual}}</div>
            <div id="info-contact">
              <span id="residenciaActual">{{datosPorfolio.residenciaActual}}</span>
              <input class="editBox" id="edit-residencia" type="text" oninput="edicionDeParametros(this.value,'residenciaActual')">
            </div>
          </div>


          <ul id="info-details">
            <li><a href="#">
              <h2>{{datosPorfolio.antecedentesLaborales[0].puesto}}</h2>
              </a>
            </li>
            <li><a href="#">
              <img [src]="datosPorfolio.antecedentesLaborales[0].img">
              <h2>{{datosPorfolio.antecedentesLaborales[0].compania}}</h2>
            </a>
            </li>
          </ul>

      </div>

  </div>



