    <!--Skilss--><div class="card imagenFondo">
      <div class="card-titles">
        <h2>Hard y soft skills</h2>
      </div>

      <div>
        <li *ngFor="let skill of datosPorfolio.skills" style="list-style:none">
          <div class="data-container">
              <div class="list-info">
                <h3>{{skill.nombre}}</h3>
                <p> {{skill.tipo}}</p>
                <p>{{skill.porcentaje}}</p>
              </div>
          </div>
        </li>
      </div>

      <div>
          <input [ngClass]="editmode ? 'editBoxvisible' : 'editBox'" id="edit-skils" type="text" oninput="edicionDeParametros(this.value,'text-skills')">
      </div>
  </div>

